@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";
@font-face {
    font-family: "Perfectly Nineties";
    src: url("./assets/fonts/perfectly-nineties-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

